<div style="border: solid;padding-bottom: 3mm;">
<div style="margin-left: 4mm;">
    <h3>Nouvelle commande {{origin}}</h3>
</div>
<div class="col">
    <div class="row" style="border: solid;margin-bottom: 2mm;padding: 5mm;width: 315mm;margin-left: -2mm;">
        <div class="col-3">
            <div>
                <input class="form-control" type="text" placeholder="Code de la commande" aria-label="default input example">
            </div>
            <div class="row mt-1 mb-1" >
                <input class="form-control" type="text" placeholder="19/01/2024" aria-label="default input example" style="width: 55mm;margin-left: 4mm;margin-right: 6mm;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
                </svg>
            </div>
            <div>
                <select class="form-select form-select-sm" style="width: 70mm;" aria-label="Small select example">
                    <option value="1">Baligh</option>
                    <option value="2">Ali</option>
                  </select>
            </div>
        </div>
        <div class="col-6">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg"  color="blue" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg>
                Baligh Ghaouar
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" color="blue" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                  </svg>
                ghaouarbaligh2020@gmail.com
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" color="green" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                  </svg>
                27169335
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" style="width: 4mm;"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M32 0C14.3 0 0 14.3 0 32S14.3 64 32 64V75c0 42.4 16.9 83.1 46.9 113.1L146.7 256 78.9 323.9C48.9 353.9 32 394.6 32 437v11c-17.7 0-32 14.3-32 32s14.3 32 32 32H64 320h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V437c0-42.4-16.9-83.1-46.9-113.1L237.3 256l67.9-67.9c30-30 46.9-70.7 46.9-113.1V64c17.7 0 32-14.3 32-32s-14.3-32-32-32H320 64 32zM288 437v11H96V437c0-25.5 10.1-49.9 28.1-67.9L192 301.3l67.9 67.9c18 18 28.1 42.4 28.1 67.9z"/></svg>
                en préparation
            </div>
        </div>
        <div class="col-3">
            <img src="assets/image.jpg" style="height: 120px;width: 120px;border-radius: 50%;">
        </div>
    </div>
    <div class="row">
        <div style="margin-left: 7mm;width: 80mm;border: solid;">
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        </div>
        <div style="margin-left: 7mm;width: 80mm;border: solid;">
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        </div>
        <div style="margin-left: 7mm;width: 80mm;border: solid;">
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        </div>
        <div style="border: solid; background-color: green; margin-left: 7mm;border: solid;">
            <svg xmlns="http://www.w3.org/2000/svg" color="white" width="60" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>    
        </div>
    <div class="pt-2" style="border: solid; margin-right: -10mm;margin-top: 4mm;width: 315mm;margin-left: 2mm;">
        <div class="row" style="border: solid;padding-left: 20mm;width: 300mm;margin-left: 7mm;">
            <div class="col-2">
                ART-123
            </div>
            <div class="col-3">
                Description de l'article
            </div>
            <div class="col-2">
                6
            </div>
            <div class="col-2">
                12,3
            </div>
            <div class="col-2">
                72,1
            </div>
        </div>
        <div class="row" style="border: solid;padding-left: 20mm;width: 300mm;margin-left: 7mm;">
            <div class="col-2">
                ART-123
            </div>
            <div class="col-3">
                Description de l'article
            </div>
            <div class="col-2">
                6
            </div>
            <div class="col-2">
                12,3
            </div>
            <div class="col-2">
                72,1
            </div>
        </div>
        <div class="row" style="border: solid;padding-left: 20mm;width: 300mm;margin-left: 7mm;">
            <div class="col-2">
                ART-123
            </div>
            <div class="col-3">
                Description de l'article
            </div>
            <div class="col-2">
                6
            </div>
            <div class="col-2">
                12,3
            </div>
            <div class="col-2">
                72,1
            </div>
        </div>
        <div class="row" style="border: solid;padding-left: 20mm;width: 300mm;margin-left: 7mm;">
            <div class="col-2">
                ART-123
            </div>
            <div class="col-3">
                Description de l'article
            </div>
            <div class="col-2">
                6
            </div>
            <div class="col-2">
                12,3
            </div>
            <div class="col-2">
                72,1
            </div>
        </div>
        
        <div class="row pl-5 mt-3">
            <div class="col-6">
            </div>
            <div class="col-3">
                <h4>Total de la commande</h4>
            </div>
            <div class="col-3 pl-0">
                <h4>251,6</h4>
            </div>
        </div>     
    </div>
    <div>
        <div class="row" style="margin-left: 250mm;margin-top: 5mm;">
        <button type="button" class="btn btn-danger" style="background-color: red; margin-right: 2mm;">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M367.2 412.5L99.5 144.8C77.1 176.1 64 214.5 64 256c0 106 86 192 192 192c41.5 0 79.9-13.1 111.2-35.5zm45.3-45.3C434.9 335.9 448 297.5 448 256c0-106-86-192-192-192c-41.5 0-79.9 13.1-111.2 35.5L412.5 367.2zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/></svg>
            Annuler
        </button>
        <button type="button" class="btn btn-primary" style="background-color: rgb(97, 97, 192);">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
            Enregistrer
        </button>
    </div>
    </div>
</div>
</div>