<div class="card mt-4" style="border: solid;">
    <div class="mt-2" style="color: blue;">
        <h4><svg xmlns="http://www.w3.org/2000/svg"  width="25" height="25" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
            <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0"/>
          </svg>
        information de l'article</h4>
    </div>
    <div class="row">
        <div class="col-6">
            <div style="border: solid;margin-left: 1mm;">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="code article">

                
            </div>
            <div style="border: solid;margin-left: 1mm;margin-top: 2mm;">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="prix unitaire HT">

                
            </div>
            <div style="border: solid;margin-left: 1mm;margin-bottom: 20mm;margin-top: 2mm;">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="prix unitaire TTC">

                
            </div>
        </div>
        <div class="col-6">
            <div style="border: solid;margin-left: 1mm;">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Designation">

                
            </div>
            <div style="border: solid;margin-left: 1mm;margin-top: 2mm;">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Code TVA">

                
            </div>
            <div style="border: solid;margin-left: 1mm;margin-top: 2mm;">
                <select class="form-select" style="width:149mm;" >
                    <option selected disabled hidden value="">Sélectionner une catégorie</option>
                    <option value="1">CAT-1234</option>
                    <option value="2">CAT-5678</option>
                </select>
                
            </div>
        </div>
    </div>

</div>