<div>
    <app-mvt-btn></app-mvt-btn>
</div>
<div class="card">
    <app-col-mvt></app-col-mvt>
    <app-dtail-mvt-stk></app-dtail-mvt-stk>
    <app-dtail-mvt-stk></app-dtail-mvt-stk>
    <app-dtail-mvt-stk></app-dtail-mvt-stk>
    <app-dtail-mvt-stk></app-dtail-mvt-stk>
    <app-dtail-mvt-stk></app-dtail-mvt-stk>

    <app-col-mvt></app-col-mvt>
    <app-dtail-mvt-stk></app-dtail-mvt-stk>
    <app-dtail-mvt-stk></app-dtail-mvt-stk>
    <app-dtail-mvt-stk></app-dtail-mvt-stk>
  
    
</div>
<div style="margin-left: 110mm;">
    <app-pagination></app-pagination>
</div>