<div style="margin-left: 170mm; margin-top: 40mm;  border: 2px solid black; width: 300px;">
    <legend style="margin-bottom: 4mm; font-size:25px ;background-color: darkgrey;">S'inscrire'</legend>
<div style="margin-left: 11mm;">
    <div class="mb-3">
    <input class="form-control" placeholder="nom" style="width: 200px; margin-bottom: 4mm;">
  </div>
  <div class="mb-3">
    <input class="form-control" placeholder="Code fiscal" style="width: 200px; margin-bottom: 3mm;">
  </div>
  <div class="mb-3">
    <input type="email" placeholder="Email" style="width: 200px; margin-bottom: 3mm;">
  </div>
  <div class="mb-3">
    <input class="form-control" placeholder="adresse1" style="width: 200px; margin-bottom: 3mm;">
  </div>
  <div class="mb-3">
    <input class="form-control" placeholder="adresse2" style="width: 200px; margin-bottom: 3mm;">
  </div>
  <div class="mb-3">
    <input class="form-control" placeholder="ville" style="width: 200px; margin-bottom: 3mm;">
  </div>
  <div class="mb-3">
    <input class="form-control" placeholder="Code postal" style="width: 200px; margin-bottom: 3mm;">
  </div>
  <div class="mb-3">
    <input class="form-control" placeholder="pays" style="width: 200px; margin-bottom: 3mm;">
  </div>
  <div class="mb-3">
    <input class="password" placeholder="password" style="width: 200px; margin-bottom: 3mm;">
  </div>
  <div class="mb-3">
    <input class="password" placeholder="confirmer mot de passe" style="width: 200px; margin-bottom: 3mm;">
  </div>
  
</div>
<button routerLink="/login" type="button" class="btn btn-primary" style="color: blue; margin-right:10mm; margin-left: 12mm; margin-bottom: 4mm;">se connecter</button>
<button type="button" class="btn btn-primary" style="background-color: blue; color: aliceblue;">s'inscrire</button>
</div>