<div style="margin-left: 170mm; margin-top: 40mm;  border: 2px solid black; width: 300px;">
    <legend style="margin-bottom: 4mm; font-size:25px ;background-color: darkgrey;">Se connecter</legend>
<div style="margin-left: 11mm;">
    <div class="mb-3">
    <input type="email" class="form-control" placeholder="email" style="width: 200px; margin-bottom: 4mm;">
  </div>
  <div class="mb-3">
    <input class="form-control" placeholder="password" style="width: 200px; margin-bottom: 3mm;">
  </div>
</div>
<button routerLink="/inscrire" type="button" class="btn btn-primary" style="color: blue; margin-right:10mm; margin-left: 12mm; margin-bottom: 4mm;">s'inscrire</button>
<button type="button" class="btn btn-primary" style="background-color: blue; color: aliceblue;">se connecter</button>
</div>