
<div class="row pt-5 pl-2">
    <div class="col-md-8 pl-4">
        <h3>liste des articles</h3>
    </div>
    <div>
      <app-boutton-action></app-boutton-action>
    </div>
</div>

<div style="border: solid;">
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
</div>

<div class="row m-3">
  <div style="margin-left: 100mm;">
    <app-pagination></app-pagination>
  </div>


    
</div>